/* Vertical Reservation Form */
.widget_opalhotel-check-available {
	background-color: #040836;
	background-image: url('#{$image-theme-path}background-010.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 35px 30px 45px;
	.widget-title {
		color: $white;
		background-image: none;
		padding: 0;
		margin-bottom: 15px;
	}
	.opalhotel_form_section {
		padding: 0;
		background-color: transparent;
		footer {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.opalhotel-form-field {
		margin-bottom: 10px;
		padding: 0;
		.opalhotel-form-lable {
			font-size: 12px;
			font-weight: 400;
			color: $white;
			margin-bottom: 5px;
		}
		.opalhotel-form-field-group {
			i {
				@include rtl-right(15px);
				top: 15px;
			}
			input,
			select {
				@include rtl-padding(7px,40px,7px,15px);
				line-height: 36px;
			}
		}
	}
	footer {
		padding-top: 10px;
	}
}



/**
 * Horizontal Booking Form
 */
.horizontal-form {
	background: #040836;
	clear: both;
	header{
		float: left;
		margin: 20px 25px;
		&.heading-form {
			margin: 0;
			padding: 35px 40px;
			border-right: 1px solid rgba($white,.2);
			h3 {
				color: $white;
				font-size: 24px;
				span {
					font-style: italic;
					font-weight: 300;
				}
			}
		}
	}
	h3{
		padding:0;
		margin: 0;
		span{
			display: block;
		}
	}
	.form-content {
		padding: 0 15px;
		overflow: hidden;
		display: block;
		position: relative;
		.opalhotel-form-field {
			margin: 0;
			padding: 18px 5px;
			width: 20%;
			float: left;
			display: block;
			&.adults-input,
			&.children-input {
				width: 10%;
			}
			label {
				color: $white;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 2px;
				margin-bottom: 5px;
			}
			.opalhotel-form-field-group {
				i {
					top: 17px;
					right: 15px;
				}
			}
			&.button-wrap {
				padding-top: 44px;
			}
		}
	}
}

/* Opal Hotel Widget */
.widget_opalhotel-hotel-info {
	background-color: #fff;
	padding: 25px 30px;
	margin-bottom: 30px;
	@include box-shadow(0 3px 5px rgba($black,.1));
	transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
	-moz-transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
	-webkit-transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
	-ms-transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
	.widget-title {
		padding: 0;
		margin: 0 0 15px;
		&:after {
			content: none;
		}
	}
	.opalhotel-hotel-info {
		margin: 0 -30px;
		.map {
			width: 100% !important;
			margin-bottom: 20px;
		}
		.address,
		.meta {
			padding: 0 30px;
			font-size: 14px;
			line-height: 18px;
		}
		.title {
			font-size: 14px;
			font-weight: 400;
			margin: 0 0 10px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			span {
				color: #000;
				@include rtl-float-right();
			}
		}
		label {
			color: $light-gray;
			font-size: 14px;
			font-weight: 300;
			margin: 0;
			padding: 0;
		}
	}
	&:hover {
		transform: translate(0px, -5px) rotate(0.01deg);
		-moz-transform: translate(0px, -5px) rotate(0.01deg);
		-webkit-transform: translate(0px, -5px) rotate(0.01deg);
		-ms-transform: translate(0px, -5px) rotate(0.01deg);
		@include box-shadow(0 25px 30px 0 rgba($black,.15));
	}
}
.widget_opalhotel-hotels-grid {
	.widget-title,
	.widgettitle {
		padding: 0;
		&:after {
			content: none;
		}
	}
}
.sidebar {
	.widget_opalhotel-hotel-info {
		.widget-title {
			padding: 0;
			margin: 0 0 15px;
		}
		ul li {
			padding: 0;
			border: none;
			margin: 0 0 5px;
		}
	}
}